.main {
    position: relative;
    &__bgAbsolute {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 377px;
        object-fit: cover;
        z-index: -1;
    }
}

@media (max-width: 1200px) {
    .main {
        &__bgAbsolute {
            display: none;
        }
    }
}